@tailwind base;
@tailwind components;
@tailwind utilities;
.layout-container .el-card__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}
.layout-container .el-card__body .el-table {
    flex: 1;
}