<template>
    <el-card>
        <span>Center: {{ mapLatLong }}</span>
        <span>Zoom: {{ zoomCenter }}</span>
        <div style="height:600px" v-loading="isLoading">
            <l-map :use-global-leaflet="false" v-model:zoom="zoomCenter" :center="[mapLatLong[0], mapLatLong[1]]"
                @update:zoom="zoomUpdated" @update:center="centerUpdated">
                <l-marker :lat-lng="watchCenter" :options="{ draggable }" @dragend="setMarkerPosition"
                    @ready="getGeoLocation">
                    <LTooltip :options="{ interactive: true, permanent: true }">
                        <div> Complex tooltip using <br> with : <span @click="getGeoLocation"
                                style="color:blue;cursor:pointer">update time</span><br>
                        </div>
                    </LTooltip>
                </l-marker>
                <l-tile-layer url="https://tile.openstreetmap.org/{z}/{x}/{y}.png" layer-type="base"
                    name="Stadia Maps Basemap" :attribution="attribution"></l-tile-layer>
            </l-map>
        </div>
    </el-card>
</template >
<script lang="ts" setup>
import { ref, onMounted, computed, reactive, onUnmounted } from 'vue';
import "leaflet/dist/leaflet.css";
import { LMap, LTileLayer, LMarker, LTooltip } from "@vue-leaflet/vue-leaflet";
const draggable = ref(true);
const zoomCenter = ref<number>(15);
const isLoading = ref(false);
const attribution = ref();
const mapLatLong = reactive([11.579654, 104.725377]);

//todo declare map varialbles
const coords = ref({latitude: 0, longitude: 0});
const isSupported = 'navigator' in window && 'geolocation' in  navigator;
let watcher: any = null;
onUnmounted(() => {
    if (watcher) navigator.geolocation.clearWatch(watcher);
});
const getGeoLocation = () => {
    isLoading.value = true;
    if (navigator.geolocation) {
         navigator.geolocation.getCurrentPosition((position: any) => {
            mapLatLong[0] = position.coords?.latitude;
            mapLatLong[1] = position.coords?.longitude;

        })
    }; isLoading.value = false;
};
const zoomUpdated = (zoom: number) => {
    zoomCenter.value = zoom;
};
interface IPosition {
    lat: number,
    lng: number,
}
const centerUpdated = (position: IPosition) => {
    mapLatLong[0] = position.lat;
    mapLatLong[1] = position.lng;
};
const setMarkerPosition = (e: any) => {
    mapLatLong[0] = e.target._latlng.lat;
    mapLatLong[1] = e.target._latlng.lng;
};
const watchCenter = computed((): any => [mapLatLong[0], mapLatLong[1]]);
onMounted(() => {
    getGeoLocation();
});  
</script>