<template>
	<el-form
      status-icon
      size="large" class="login-content-form">
		<el-form-item class="login-animation1" prop="userName">
			<el-input text :placeholder="$t('message.account.accountPlaceholder1')" v-model="state.ruleForm.userName" clearable autocomplete="off">
				<template #prefix>
					<el-icon class="el-input__icon"><ele-User /></el-icon>
				</template>
			</el-input>
		</el-form-item>
		<el-form-item class="login-animation2"  prop="password">
			<el-input
				:type="state.isShowPassword ? 'text' : 'password'"
				:placeholder="$t('message.account.accountPlaceholder2')"
				v-model="state.ruleForm.password"
				autocomplete="off"
			>
				<template #prefix>
					<el-icon class="el-input__icon"><ele-Unlock /></el-icon>
				</template>
				<template #suffix>
					<i
						class="iconfont el-input__icon login-content-password"
						:class="state.isShowPassword ? 'icon-yincangmima' : 'icon-xianshimima'"
						@click="state.isShowPassword = !state.isShowPassword"
					>
					</i>
				</template>
			</el-input>
		</el-form-item>
		<el-form-item class="login-animation3">
			<el-col :span="15">
				<el-input
					text
					maxlength="4"
					:placeholder="$t('message.account.accountPlaceholder3')"
					v-model="state.ruleForm.code"
					clearable
					autocomplete="off"
				>
					<template #prefix>
						<el-icon class="el-input__icon"><ele-Position /></el-icon>
					</template>
				</el-input>
			</el-col>
			<el-col :span="1"></el-col>
			<el-col :span="8">
				<el-button class="login-content-code" v-waves>1234</el-button>
			</el-col>
		</el-form-item>
		<el-form-item class="login-animation4">
			<el-button type="primary" class="login-content-submit" round v-waves @click="onSignIn" :loading="state.loading.signIn">
				<span>{{ $t('message.account.accountBtnText') }}</span>
			</el-button>
		</el-form-item>
	</el-form>
</template>

<script setup lang="ts" name="loginAccount">
import { computed, reactive } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { ElMessage } from 'element-plus';
import { useI18n } from 'vue-i18n';
import Cookies from 'js-cookie';
import { initBackEndControlRoutes } from '/@/router/backEnd';
import { Session } from '/@/utils/storage';
import { formatAxis } from '/@/utils/formatTime';
import { NextLoading } from '/@/utils/loading';
import { login } from '/@/api/login';
import { messageNotification } from "/@/libraries/elementUiHelpers/notificationHelper";
import EnumMessageType from "/@/models/enums/enumMessageType";
import EnumApiErrorCode from "/@/models/enums/enumApiErrorCode";

// 定义变量内容
const { t } = useI18n();
const route = useRoute();
const router = useRouter();
const state = reactive({
	isShowPassword: false,
	ruleForm: {
    userName: import.meta.env.MODE ? 'admin' : '',
		password: import.meta.env.MODE ? '1234qwer' : '',
		code: import.meta.env.MODE ? '1234' : '',
	},
	loading: {
		signIn: false,
	},
});

// 时间获取
const currentTime = computed(() => {
	return formatAxis(new Date());
});
// 登录
const onSignIn = async () => {
  if (!state.ruleForm.userName && !state.ruleForm.password) {
    return messageNotification(t('message.pleaseEnterUsername'), EnumMessageType.Error);
  } else if (!state.ruleForm.userName || !state.ruleForm.password) {
    return messageNotification(t('message.usernameAndPassowrdRequire'), EnumMessageType.Error);
  } else if (!state.ruleForm.code || state.ruleForm.code !== '1234'){
    return messageNotification(t('message.pleaseVerifyCode'), EnumMessageType.Error);
  } else {
    try{
      state.loading.signIn = true;
      const row = await login(state.ruleForm);
      if (row.code !== EnumApiErrorCode.success) {
        messageNotification(row.message, EnumMessageType.Error);
      } else {
        Session.set('token', row.data?.access_token);
        Cookies.set('userName', row.data?.userName);
        Cookies.set('userId', row.data?.userId);
        const isNoPower = await initBackEndControlRoutes();
        signInSuccess(isNoPower);

      }
      state.loading.signIn = false;
    }catch(e){
      return state.loading.signIn = false;
    }
  }
};
// 登录成功后的跳转
const signInSuccess = (isNoPower: boolean | undefined) => {
	if (isNoPower) {
		ElMessage.warning('Sorry, you do not have login permission');
		Session.clear();
	} else {
		// Initialization login success time greeting
		let currentTimeInfo = currentTime.value;
		// Login successful, jump to the home page
		// If it is a copy-pasted path and is not the homepage/login page, then you will be redirected to the corresponding path after successful login.
		if (route.query?.redirect) {
			router.push({
				path: <string>route.query?.redirect,
				query: Object.keys(<string>route.query?.params).length > 0 ? JSON.parse(<string>route.query?.params) : '',
			});
		} else {
      router.push('/home');
		}
		// 登录成功提示
		const signInText = t('message.signInText');
		ElMessage.success(`${currentTimeInfo}，${signInText}`);
		// 添加 loading，防止第一次进入界面时出现短暂空白
		NextLoading.start();
	}
	state.loading.signIn = false;
};
</script>

<style scoped lang="scss">
.login-content-form {
	margin-top: 20px;
	@for $i from 1 through 4 {
		.login-animation#{$i} {
			opacity: 0;
			animation-name: error-num;
			animation-duration: 0.5s;
			animation-fill-mode: forwards;
			animation-delay: calc($i/10) + s;
		}
	}
	.login-content-password {
		display: inline-block;
		width: 20px;
		cursor: pointer;
		&:hover {
			color: #909399;
		}
	}
	.login-content-code {
		width: 100%;
		padding: 0;
		font-weight: bold;
		letter-spacing: 5px;
	}
	.login-content-submit {
		width: 100%;
		letter-spacing: 2px;
		font-weight: 300;
		margin-top: 15px;
	}
}
</style>
