@import 'element-plus/dist/index.css';
@import './app.scss';
@import 'common/transition.scss';
@import './other.scss';
@import './element.scss';
@import './media/media.scss';
@import './waves.scss';
@import './dark.scss';


:root {
    --primary: rgb(90,156,248);
    --success: rgb(126,192,80);
    --warning: rgba(205,154,5);
    --danger: rgb(207,91,91);
    --error: rgb(255,105,55);
    --info: rgb(108,117,125);
    --light: rgb(240,240,240);
    --white: rgb(255,255,255);
    --black: rgb(0,0,0);
    // --el-color-primary: var(--primary)!important;
    // --el-color-success: var(--success)!important;
    // --el-color-warning: var(--warning)!important;
    // --el-color-danger: var(--danger)!important;
    // --el-color-error: var(--error)!important;
    // --el-color-info: var(--info)!important;
    // --el-color-white: var(--white)!important;
    // --el-color-black: var(--black)!important;
    // --el-color-primary-dark-2: var(--primary)!important;
    // --el-color-primary-light-3: var(--primary)!important;
    // --el-button-hover-border-color: var(--primary)!important;
    // --el-color-primary-light-5: var(--primary)!important;
    // --el-border-color-hover: var(--primary) !important;
}
.primary {
    color: var(--primary);
}
.success {
    color: var(--success);
}
.warning {
    color: var(--warning);
}
.info {
    color: var(--info);
}
.danger {
    color: var(--danger);
}
.white {
    color: var(--white);
}
.light {
    color: var(--light)
}
.black {
    color: var(--black);
}
.bg-primary {
    background-color: var(--primary);
}
.bg-success {
    background-color: var(--success);
}
.bg-warning {
    background-color: var(--warning);
}
.bg-info {
    background-color: var(--info);
}
.bg-light {
    background-color: var(--light);
}
.bg-white {
    background-color: var(--white);
}
.bg-black {
    background-color: var(--black);
}
.shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}