<template>
  <div class="system-user-dialog-container">
    <el-dialog @close="resetFields" destroy-on-close v-model="state.dialog.isShowDialog" :title="state.dialog.title">
      <el-form :label-position="'top'" ref="ruleFormRef" :model="state.form" :rules="formRules"
        class="grid md:grid-cols-2 grid-cols-1 gap-x-5">
        <el-form-item prop="roomNumber" :label="$t('message.roomNumber')">
          <el-input type="text" v-model="state.form.room_number" placeholder="101A" />
        </el-form-item>
        <el-form-item prop="bed" :label="$t('message.bed')">
          <el-input type="number" v-model="state.form.bed" />
        </el-form-item>
        <el-form-item prop="people" :label="$t('message.people')">
          <el-input type="text" v-model="state.form.people" placeholder="Example: 3-4peson">
            <template #append>{{ $t('message.person') }}</template>
          </el-input>
        </el-form-item>
        <el-form-item prop="price" :label="$t('message.price')">
          <el-input type="number" v-model="state.form.price" placeholder="Example: 20.00">
            <template #append>$</template>
          </el-input>
        </el-form-item>
        <el-form-item prop="sort" :label="$t('message.sort')">
          <el-input type="number" v-model="state.form.sort" />
        </el-form-item>
        <el-form-item prop="is_visible" :label="$t('message.is_visible')">
          <el-switch v-model="state.form.is_visible" :active-action-icon="View" :inactive-action-icon="Hide" />
        </el-form-item>
      </el-form>
      <template #footer>
        <div class="dialog-footer">
          <el-button type="primary" @click="onSubmit(ruleFormRef)" :loading="isLoading">
            {{ $t(state.dialog.submit) }}
          </el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script setup lang="ts">
import { reactive } from "vue";
import { useI18n } from "vue-i18n";
import formHelper, { IRule } from "/@/libraries/elementUiHelpers/formHelper";
import useVariable from "/@/composables/useVariables";
import EnumMessageType from "/@/models/enums/enumMessageType";
import { messageNotification } from "/@/libraries/elementUiHelpers/notificationHelper";
import EnumApiErrorCode from "/@/models/enums/enumApiErrorCode";

const {
  isLoading,
  ruleFormRef,
  Hide, View,
  api, route,
} = useVariable();
const { t } = useI18n();
const state = reactive({
  form: {
    id: null,
    room_number: '',
    price: null,
    bed: 1,
    people: '',
    sort: 0,
    is_visible: true,
  },
  dialog: {
    title: '',
    submit: '',
    cancel: '',
    isShowDialog: false,
    type: '',
  }
});

const emit = defineEmits(['refresh']);
const resetFields = () => {
  state.form = {
    id: null,
    room_number: '',
    price: null,
    bed: 1,
    people: '',
    sort: 0,
    is_visible: true,
  };
}
const rules: Record<string, IRule> = ({
  room_number: { required: true },
  bed: { required: true },
  people: { required: true },
  price: { required: true },
});
const openDialog = async (type: string, row: object) => {
  if (type === 'edit') {
    Object.assign(state.form, row);
    state.dialog.title = t('message.table.edit');
    state.dialog.submit = t('message.table.submit');
  } else {
    state.dialog.title = t('message.table.add');
    state.dialog.submit = t('message.table.submit');
  }
  state.dialog.type = type;
  state.dialog.isShowDialog = true;
};
const submitProcess = async () => {
  isLoading.value = true;
  try {
    const request = {
      id: state.form.id,
      branch_id: route.query?.id,
      room_number: state.form.room_number,
      bed: state.form.bed,
      people: state.form.people,
      price: state.form.price,
      is_visible: state.form.is_visible,
      sort: state.form.sort,
    };
    const response = await api.addOrUpdateRoom(request);
    if (response.code !== EnumApiErrorCode.success) {
      messageNotification(t(response.message), EnumMessageType.Error);
    } else {
      messageNotification(t('message.success'), EnumMessageType.Success);
      resetFields();
      state.dialog.isShowDialog = false;
      emit('refresh');
    }
  } catch (e) {
    //TODO handle the exception
  }
  isLoading.value = false;
};
const formRules = formHelper.getRules(rules);
const onSubmit = formHelper.getSubmitFunction(submitProcess);

defineExpose({
  openDialog,
});
</script>