<template>
  <el-dialog @close="resetFields" destroy-on-close v-model="state.dialog.isShowDialog" :title="state.dialog.title">
    <div v-if="state.dialog.type !== 'view'">
      <el-form class="grid grid-cols-1 md:grid-cols-2 gap-x-5" :label-position="'top'" ref="ruleFormRef"
        :model="state.form" :rules="formRules">
        <el-form-item prop="customer_name" :label="$t('message.customerName')">
          <el-input type="text" v-model="state.form.customer_name" :placeholder="$t('message.customerName')" />
        </el-form-item>
        <el-form-item prop="customer_phone" :label="$t('message.customerPhone')">
          <el-input type="text" v-model="state.form.customer_phone" />
        </el-form-item>
        <el-form-item prop="number_of_customer" :label="$t('message.numberOfCustomer')">
          <el-select v-model="state.form.number_of_customer"
                  placeholder="Example: 3-4peson" class="w-full text-center">
                  <el-option value="0-1">0-1 {{ $t('message.person') }}</el-option>
                  <el-option value="1-2">1-2 {{ $t('message.person') }}</el-option>
                  <el-option value="2-3">2-3 {{ $t('message.person') }}</el-option>
                  <el-option value="3-4">3-4 {{ $t('message.person') }}</el-option>
                  <el-option value="4-5">4-5 {{ $t('message.person') }}</el-option>
                  <el-option value="5-6">5-6 {{ $t('message.person') }}</el-option>
                </el-select>
        </el-form-item>
        <el-form-item prop="booking_date" :label="$t('message.bookingDate')">
          <el-date-picker style="width: 100%;" v-model="state.form.booking_date" value-format="YYYY-MM-DD" type="dates"
            :disabled-date="disabledDate" placeholder="Pick one or more dates" />
        </el-form-item>
        <el-form-item prop="customer_pay_status" :label="$t('message.customerPayStatus')">
          <el-select v-model="state.form.customer_pay_status" class="w-full">
            <el-option v-for="(pay, index) in state.payStatus" :key="index" :value="pay.value"
              :label="$t(`message.${pay.value}`)" />
          </el-select>
        </el-form-item>
        <el-form-item prop="customer_pay_by" :label="$t('message.customerPayBy')">
          <el-select v-model="state.form.customer_pay_by" class="w-full">
            <el-option v-for="(pay, index) in state.payBy" :key="index" :value="pay.value"
              :label="$t(`message.${pay.value}`)" />
          </el-select>
        </el-form-item>
        <!-- <el-form-item prop="is_visible" :label="$t('message.is_visible')">
        <el-switch v-model="state.form.is_visible" :active-action-icon="View" :inactive-action-icon="Hide" />
      </el-form-item> -->
      </el-form>
      <div class="flex justify-end mt-5 md:mt-0">
        <div class="dialog-footer">
          <el-button type="primary" @click="onSubmit(ruleFormRef)" :loading="state.tableData.loading">
            {{ $t(state.dialog.submit) }}
          </el-button>
        </div>
      </div>
    </div>
    <div v-else>
      <div v-loading="state.tableData.loading">
        <el-collapse v-model="state.tableData.accordance" accordion v-if="state.tableData.data.length">
          <el-collapse-item v-for="(book, index) in state.tableData.data" :key="index" :name="book.customer_name"
            @click="showBookingForm(book)">
            <template #title>
              <div class="grid gap-1 md:gap-5 grid-cols-1 md:grid-cols-2 text-sm md:text-base py-2">
                <div>
                  <strong class="text">{{ $t('message.customerName') }}</strong>: {{ book.customer_name }}
                </div>
                <div>
                  <strong>{{ $t('message.bookingDate') }}</strong>: <span class="warning">{{ book.created_at }}</span>
                </div>
              </div>
            </template>
            <el-form :label-position="'top'" ref="ruleFormRef" :model="state.form" :rules="formRules"
              class="grid grid-cols-2 md:grid-cols-2 gap-x-5 mt-3">
              <el-form-item prop="customer_name" :label="$t('message.customerName')">
                <el-input :disabled="state.toggle.editForm" type="text" v-model="state.form.customer_name"
                  :placeholder="$t('message.customerName')" />
              </el-form-item>
              <el-form-item prop="customer_phone" :label="$t('message.customerPhone')">
                <el-input :disabled="state.toggle.editForm" type="text" v-model="state.form.customer_phone" />
              </el-form-item>
              <el-form-item prop="number_of_customer" :label="$t('message.numberOfCustomer')">
                <el-select :disabled="state.toggle.editForm" v-model="state.form.number_of_customer"
                  placeholder="Example: 3-4peson" class="w-full text-center">
                  <el-option value="0-1">0-1 {{ t('message.person') }}</el-option>
                  <el-option value="1-2">1-2 {{ t('message.person') }}</el-option>
                  <el-option value="2-3">2-3 {{ t('message.person') }}</el-option>
                  <el-option value="3-4">3-4 {{ t('message.person') }}</el-option>
                  <el-option value="4-5">4-5 {{ t('message.person') }}</el-option>
                  <el-option value="5-6">5-6 {{ t('message.person') }}</el-option>
                </el-select>
              </el-form-item>
              <el-form-item prop="booking_date" :label="$t('message.bookingDate')">
                <el-date-picker :disabled="state.toggle.editForm" style="width: 100%;" v-model="state.form.booking_date"
                  :disabled-date="disabledDate" value-format="YYYY-MM-DD" type="dates"
                  placeholder="Pick one or more dates" />
              </el-form-item>
              <el-form-item prop="customer_pay_status" :label="$t('message.customerPayStatus')">
                <el-select :disabled="state.toggle.editForm" v-model="state.form.customer_pay_status" class="w-full">
                  <el-option v-for="(pay, index) in state.payStatus" :key="index" :value="pay.value"
                    :label="$t(`message.${pay.value}`)" />
                </el-select>
              </el-form-item>
              <el-form-item prop="customer_pay_by" :label="$t('message.customerPayBy')">
                <el-select :disabled="state.toggle.editForm" v-model="state.form.customer_pay_by" class="w-full">
                  <el-option v-for="(pay, index) in state.payBy" :key="index" :value="pay.value"
                    :label="$t(`message.${pay.value}`)" />
                </el-select>
              </el-form-item>
              <div class="flex justify-end col-span-2 mb-3">
                <span v-if="state.toggle.editForm">
                  <el-button size="small" type="warning" text @click="onSystem('edit', book)"> {{
                    $t('message.table.edit') }}</el-button>
                  <el-button size="small" type="danger" text @click="onSystem('delete', book)"> {{
                    $t('message.table.delete')
                  }}</el-button>
                </span>
                <span v-else>
                  <el-button size="small" text type="info" @click="state.toggle.editForm = true"> {{
                    $t('message.cancel')
                  }}</el-button>
                  <el-button size="small" text type="primary" @click="submitProcess" :loading="state.tableData.loading">
                    {{
                      $t('message.table.update')
                    }}</el-button>
                </span>
              </div>
            </el-form>
          </el-collapse-item>
        </el-collapse>
        <el-empty image-size="80" v-else :description="$t('message.noData')"></el-empty>
      </div>
    </div>
  </el-dialog>
</template>
<script setup lang="ts">
import { computed, reactive, watch } from "vue";
import { useI18n } from "vue-i18n";
import formHelper, { IRule } from "/@/libraries/elementUiHelpers/formHelper";
import useVariable from "/@/composables/useVariables";
import EnumMessageType from "/@/models/enums/enumMessageType";
import { messageNotification } from "/@/libraries/elementUiHelpers/notificationHelper";
import EnumApiErrorCode from "/@/models/enums/enumApiErrorCode";
import { Booking, IBooking } from "/@/models/IBooking";
import { IRoom } from "/@/models/IRoom";
import messageBoxHelper from "/@/libraries/elementUiHelpers/messageBoxHelper";

const {
  ruleFormRef,
  api, route,
} = useVariable();
const { t } = useI18n();
const state = reactive({
  tableData: {
    data: <IBooking[]>[],
    dateBooked: [],
    currentEdit: <IBooking>({} as object),
    loading: false,
    accordance: null,
    paginate: {
      page: 1,
      pageSize: 10,
      total: 0,
    },
  },
  toggle: {
    editForm: true,
    isShowButton: false,
  },
  form: {
    id: '',
    customer_name: '',
    room_number: 0,
    customer_phone: '',
    booking_date: [],
    number_of_customer: '',
    customer_pay_status: '',
    customer_pay_by: '',
    sort: 0,
    is_visible: true,
  },
  dialog: {
    title: '',
    submit: '',
    cancel: '',
    isShowDialog: false,
    type: '',
  },
  payBy: [
    {
      value: 'cash',
      name: 'Cash'
    },
    {
      value: 'aba_qr',
      name: 'ABA QR'
    },
    {
      value: 'other_qr',
      name: 'Other QR'
    },
  ],
  payStatus: [
    {
      value: 'pending',
      name: 'Pending',
    },
    {
      value: 'paid',
      name: 'Paid'
    }
  ]
});

const emit = defineEmits(['refresh']);
const resetFields = () => {
  state.form = {
    id: '',
    customer_name: '',
    room_number: 0,
    customer_phone: '',
    booking_date: [],
    number_of_customer: '',
    customer_pay_status: '',
    customer_pay_by: '',
    sort: 0,
    is_visible: true,
  };
  state.toggle.isShowButton = false;
  state.toggle.editForm = true;
  state.tableData.accordance = null;
};
const rules: Record<string, IRule> = ({
  customer_name: { required: true },
  customer_phone: { required: true },
  number_of_customer: { required: true },
  booking_date: { required: true },
  customer_pay_status: { required: true },
  customer_pay_by: { required: true },
});
const openDialog = async (type: string, row: IRoom) => {
  if (type === 'view') {
    Object.assign(state.form, row);
    state.dialog.title = t('message.viewBooking');
    state.dialog.submit = t('message.table.submit');
    state.form.room_number = Number(row.room_number);
    state.dialog.type = type;
  } else {
    state.dialog.title = t('message.table.add');
    state.dialog.submit = t('message.table.submit');
    state.form.room_number = Number(row.room_number);
  }
  getShowBooking();
  state.dialog.type = type;
  state.dialog.isShowDialog = true;
};
const getShowBooking = async () => {
  state.tableData.loading = true;
  const request = {
    room_number: state.form.room_number,
    page: state.tableData.paginate.page,
    pageSize: state.tableData.paginate.pageSize,
  }
  const response = await api.getBookingRoom(request);
  if (response.code !== EnumApiErrorCode.success) {
    console.log(response);
  } else {
    state.tableData.data = response.data.data.map((item: IBooking) => new Booking(item));
    state.tableData.dateBooked = response.data.data.map((obj: IBooking) => obj.booking_date).flat();
  };
  state.tableData.loading = false;
};

const submitProcess = async () => {
  state.tableData.loading = true;
  try {
    const request = {
      id: state.form.id,
      customer_name: state.form.customer_name,
      customer_phone: state.form.customer_phone,
      branch_id: route.query?.id,
      room_number: state.form.room_number,
      booking_date: state.form.booking_date,
      customer_pay_status: state.form.customer_pay_status,
      customer_pay_by: state.form.customer_pay_by,
      number_of_customer: state.form.number_of_customer,
      is_visible: state.form.is_visible,
      sort: state.form.sort,
    };
    const response = await api.addUpdateBookingRoom(request);
    if (response.code !== EnumApiErrorCode.success) {
      messageNotification(t(response.message), EnumMessageType.Error);
    } else {
      messageNotification(t('message.success'), EnumMessageType.Success);
      resetFields();
      state.dialog.isShowDialog = false;
      emit('refresh');
    }
  } catch (e) {
    //TODO handle the exception
  }
  state.tableData.loading = false;
};
const formRules = formHelper.getRules(rules);
const onSubmit = formHelper.getSubmitFunction(submitProcess);
const showBookingForm = (row: IBooking) => {
  Object.assign(state.form, row);
};
defineExpose({
  openDialog,
});
watch(() => state.tableData.accordance, (value) => {
  if (value) {
    state.toggle.editForm = true;
  }
});
const deleteRow = (row: object) => {
  messageBoxHelper.confirmDelete(EnumMessageType.Warning, t('message.areYouSure', t('message.yes'))).then(async () => {
    const response = await api.deleteBookingRoom(row)
    if (response.code === EnumApiErrorCode.success) {
      messageNotification(t('message.success'), EnumMessageType.Success);
      getShowBooking();
    } else {
      messageNotification(response.message, EnumMessageType.Error);
    }
  });
};
const onSystem = (key: string, row: IBooking) => {
  if (key === 'edit') {
    state.toggle.editForm = false;
    Object.assign(state.tableData.currentEdit, row);
  } else {
    deleteRow(row)
  }
};
const disabledDate = (time: Date) => {
  const date = new Date(time);
  const year = date.getFullYear();
  const month = date.getMonth() + 1;
  const day = date.getDate();
  var dateString: string = `${year}-${month < 10 ? `0${month}` : month}-${day < 10 ? `0${day}` : day}` as any;
  let firstDateTilCurrentDate: string[] = [];
  var currentDateOfMonth = new Date();
  var firstDayOfMonth = new Date(date.getFullYear(), currentDateOfMonth.getMonth(), 1);
  for (var i = firstDayOfMonth; i <= currentDateOfMonth; i.setDate(i.getDate() + 1)) {
    // your day is here
    firstDateTilCurrentDate.push(i.toISOString().split('T')[0]);
  };
  if (state.toggle.editForm) {
    return (state.tableData.dateBooked.concat(Object.assign(firstDateTilCurrentDate)) as string[]).includes(dateString);
  } else {
    let arrs = state.tableData.dateBooked.concat(Object.assign(firstDateTilCurrentDate)).filter((items) => !state.tableData.currentEdit.booking_date.includes(items));
    return (arrs as string[]).includes(dateString);
  }
};
</script>
<style scoped>
:deep(.el-collapse-item__content) {
  padding-bottom: 0;
}
</style>