<template>
    <el-form :label-position="'top'" ref="ruleFormRef" :model="state.form" :rules="formRules"
        class="grid md:grid-cols-2 grid-cols-1 gap-x-5">
        <el-form-item prop="customer_name" :label="$t('message.customerName')">
            <el-input type="text" v-model="state.form.customer_name" :placeholder="$t('message.customerName')" />
        </el-form-item>
        <el-form-item prop="customer_phone" :label="$t('message.phone')">
            <el-input type="text" v-model="state.form.customer_phone" />
        </el-form-item>
        <el-form-item prop="number_of_customer" :label="$t('message.numberOfCustomer')">
            <el-input type="number" v-model="state.form.number_of_customer" placeholder="Example: 3-4peson" />
        </el-form-item>
        <el-form-item prop="booking_date" :label="$t('message.bookingDate')">
            <el-date-picker style="width: 100%;" v-model="state.form.booking_date" value-format="YYYY-MM-DD" type="dates"
                placeholder="Pick one or more dates" />
        </el-form-item>
        <el-form-item prop="customer_pay_status" :label="$t('message.customerPayStatus')">
            <el-select v-model="state.form.customer_pay_status" class="w-full">
                <el-option v-for="(pay, index) in state.payStatus" :key="index" :value="pay.value"
                    :label="$t(`message.${pay.value}`)" />
            </el-select>
        </el-form-item>
        <el-form-item prop="customer_pay_by" :label="$t('message.customerPayBy')">
            <el-select v-model="state.form.customer_pay_by" class="w-full">
                <el-option v-for="(pay, index) in state.payBy" :key="index" :value="pay.value"
                    :label="$t(`message.${pay.value}`)" />
            </el-select>
        </el-form-item>
        <!-- <el-form-item prop="is_visible" :label="$t('message.is_visible')">
        <el-switch v-model="state.form.is_visible" :active-action-icon="View" :inactive-action-icon="Hide" />
      </el-form-item> -->
    </el-form>
    <div class="flex justify-end">
        <div class="dialog-footer">
            <el-button type="primary" @click="onSubmit(ruleFormRef)" :loading="state.tableData.loading">
                {{ $t(state.dialog.submit) }}
            </el-button>
        </div>
    </div>
</template>
<script lang="ts" setup>
import { reactive, watch } from "vue";
import { useI18n } from "vue-i18n";
import formHelper, { IRule } from "/@/libraries/elementUiHelpers/formHelper";
import useVariable from "/@/composables/useVariables";
import EnumMessageType from "/@/models/enums/enumMessageType";
import { messageNotification } from "/@/libraries/elementUiHelpers/notificationHelper";
import EnumApiErrorCode from "/@/models/enums/enumApiErrorCode";
import { Booking, IBooking } from "/@/models/IBooking";
import { IRoom } from "/@/models/IRoom";

const props = defineProps({
    config: {
        type: Object,
        default: () => { },
    }
})
const {
    ruleFormRef,
    api, route,
} = useVariable();
const { t } = useI18n();
const state = reactive({
    tableData: {
        data: <IBooking[]>[],
        loading: false,
        accordance: null,
        paginate: {
            page: 1,
            pageSize: 10,
            total: 0,
        },
    },
    disableDateBooked: [],
    toggle: {
        editForm: true,
        isShowButton: false,
    },
    form: {
        id: '' || null,
        customer_name: '',
        room_number: 0,
        customer_phone: '',
        booking_date: [],
        number_of_customer: 1,
        customer_pay_status: '',
        customer_pay_by: '',
        sort: 0,
        is_visible: true,
    },
    dialog: {
        title: '',
        submit: '',
        cancel: '',
        isShowDialog: false,
        type: '',
    },
    payBy: [
        {
            value: 'cash',
            name: 'Cash'
        },
        {
            value: 'aba_qr',
            name: 'ABA QR'
        },
        {
            value: 'other_qr',
            name: 'Other QR'
        },
    ],
    payStatus: [
        {
            value: 'pending',
            name: 'Pending',
        },
        {
            value: 'paid',
            name: 'Paid'
        }
    ]
});

const emit = defineEmits(['refresh']);
const resetFields = () => {
    state.form = {
        id: null,
        customer_name: '',
        room_number: 0,
        customer_phone: '',
        booking_date: [],
        number_of_customer: 1,
        customer_pay_status: '',
        customer_pay_by: '',
        sort: 0,
        is_visible: true,
    };
    state.toggle.isShowButton = false;
    state.toggle.editForm = true;
    state.tableData.accordance = null;
}
const rules: Record<string, IRule> = ({
    customer_name: { required: true },
    customer_phone: { required: true },
    number_of_customer: { required: true },
    booking_date: { required: true },
    customer_pay_status: { required: true },
    customer_pay_by: { required: true },
});

const getShowBooking = async () => {
    const request = {
        room_number: state.form.room_number,
        page: state.tableData.paginate.page,
        pageSize: state.tableData.paginate.pageSize,
    }
    const response = await api.getBookingRoom(request);
    if (response.code !== EnumApiErrorCode.success) {
        console.log(response);
    } else {
        state.tableData.data = response.data.data.map((item: IBooking) => new Booking(item));
    }

};
const submitProcess = async () => {
    state.tableData.loading = true;
    try {
        const request = {
            id: state.form.id,
            customer_name: state.form.customer_name,
            customer_phone: state.form.customer_phone,
            branch_id: route.query?.id,
            room_number: state.form.room_number,
            booking_date: state.form.booking_date,
            customer_pay_status: state.form.customer_pay_status,
            customer_pay_by: state.form.customer_pay_by,
            number_of_customer: state.form.number_of_customer,
            is_visible: state.form.is_visible,
            sort: state.form.sort,
        };
        const response = await api.addUpdateBookingRoom(request);
        if (response.code !== EnumApiErrorCode.success) {
            messageNotification(t(response.message), EnumMessageType.Error);
        } else {
            messageNotification(t('message.success'), EnumMessageType.Success);
            resetFields();
            state.dialog.isShowDialog = false;
            emit('refresh');
        }
    } catch (e) {
        //TODO handle the exception
    }
    state.tableData.loading = false;
};
const formRules = formHelper.getRules(rules);
const onSubmit = formHelper.getSubmitFunction(submitProcess);
const showBookingForm = (row: IBooking) => {
    Object.assign(state.form, row);
};
defineExpose({
    showBookingForm,
});
watch(() => state.tableData.accordance, (value) => {
    if (value) {
        state.toggle.editForm = true;
    }
});
</script>