<template>
  <div class="layout-container layout-padding">
    <el-card shadow="hover" class="layout-padding-auto">
      <div class=" system-user-search p-3 flex justify-between items-center">
        <el-icon @click="$router.push('/hotel/branch')" class="cursor-pointer " :size="20"> <ele-Back /></el-icon>
        <el-button type="success" @click="onOpenAddDialog('add')">
          {{ $t('message.table.new') }}
        </el-button>
      </div>
      <el-table :data="filterTableData" v-loading.lock="state.tableData.loading">
        <el-table-column type="index" :label="$t('message.table.numberSign')" width="60" />
        <el-table-column prop="room_number" :label="$t('message.roomNumber')" min-width="120" />
        <el-table-column prop="bed" :label="$t('message.bed')" min-width="80" />
        <el-table-column prop="people" :label="$t('message.people')" min-width="120" />
        <el-table-column :label="$t('message.price')" min-width="100">
          <template #default="prop"><el-text type="primary">{{ prop.row.priceForDisplay }}</el-text></template>
        </el-table-column>
        <el-table-column prop="sort" :label="$t('message.sort')" min-width="80" />
        <el-table-column prop="created_at" :label="$t('message.created_at')" min-width="120" />
        <el-table-column label="status" min-width="200">
          <template #header>
            <el-input v-model.number="state.tableData.search" type="number" size="default"
              :placeholder="$t('message.roomNumber')" />
          </template>
          <template #default="scope">
            <span class="flex">
              <el-button size="small" text type="primary" @click.prevent="onOpenBookingDialog('view', scope.row)">{{
                $t('message.view') }}</el-button>
              <el-button size="small" text type="success" @click.prevent="onOpenBookingDialog('booking', scope.row)">{{
                $t('message.booking') }}</el-button>
              <el-button link type="warning" size="small" @click.prevent="onOpenEditDialog('edit', scope.row)">
                {{ $t('message.table.edit') }}
              </el-button>
              <el-popconfirm :title="$t('message.areYouSure')" @confirm="onSystem('delete', scope.row)">
                <template #reference>
                  <el-button size="small" text type="danger">{{ $t('message.table.delete')
                  }}</el-button>
                </template>
              </el-popconfirm>
            </span>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination class="mt15" v-model:current-page="state.tableData.page.page"
        v-model:page-size="state.tableData.page.pageSize" :page-sizes="[10, 25, 50, 75, 100]" :small="true"
        :background="true" layout="total, sizes, prev, pager, next, jumper" @size-change="handleSizeChange"
        @current-change="handleCurrentChange" :total="state.tableData.total" />
      <roomDialog ref="openDialogRef" @refresh="getTableData()" />
    </el-card>
    <bookingDialog ref="openDialogBookingRef" />
  </div>
</template>
<script setup lang="ts">
import { ref, defineAsyncComponent, onMounted, reactive, computed } from "vue";
import EnumApiErrorCode from "/@/models/enums/enumApiErrorCode";
import useVariable from "/@/composables/useVariables";
import { messageNotification } from "/@/libraries/elementUiHelpers/notificationHelper";
import EnumMessageType from "/@/models/enums/enumMessageType";
import { IRoom, Room } from "/@/models/IRoom";

const roomDialog = defineAsyncComponent(() => import('/@/pages/hotel/room/dialog.vue'));
const bookingDialog = defineAsyncComponent(() => import('/@/pages/hotel/room/dialogBooking.vue'));
const state = reactive({
  tableData: {
    data: <IRoom[]>[],
    header: [
      // { key: 'image', colWidth: '', title: 'message.image',  width: 250, height: 50, type: 'image', isCheck: true, },
      { key: 'roomNumber', colWidth: '120', title: 'message.roomNumber', type: 'number', isCheck: true },
      { key: 'bed', colWidth: '80', title: 'message.bed', type: 'number', isCheck: true },
      { key: 'people', colWidth: '100', title: 'message.people', type: 'text', isCheck: true },
      { key: 'is_visible', colWidth: '120', title: 'message.is_visible', type: 'tag', isCheck: true },
      { key: 'sort', colWidth: '60', title: 'message.sort', type: 'text', isCheck: true },
      { key: 'created_at', colWidth: '150', title: 'message.created_at', type: 'date', isCheck: true },
      // { key: 'updated_at', colWidth: '', title: 'message.updated_at', type: 'date', isCheck: true },
    ],
    total: 0,
    page: {
      page: 1,
      pageSize: 10,
    },
    search: '',
    loading: false,
  },
});
const { t, api, onOpenAddDialog, onOpenEditDialog, openDialogRef, route } = useVariable();
const onOpenBookingDialog = (type: string, row: object) => {
  openDialogBookingRef.value.openDialog(type, row);
};
const openDialogBookingRef = ref();
const getTableData = async () => {
  state.tableData.loading = true;
  const request = {
    branch_id: route.query?.id,
    page: state.tableData.page.page,
    pageSize: state.tableData.page.pageSize,
  }
  const response = await api.getRoom(request);
  if (response.code !== EnumApiErrorCode.success) {
    console.log(response);
  } else {
    state.tableData.data = response.data.data.map((item: IRoom) => new Room(item));
    state.tableData.total = response.data?.total;
  }
  state.tableData.loading = false;
};
const filterTableData = computed(() =>
  state.tableData.data.filter(
    (item: IRoom) =>
      !state.tableData.search ||
      item.room_number.toString().toLowerCase().includes(state.tableData.search.toString().toLowerCase())
  )
);
const deleteRow = async (row: Object) => {
  const response = await api.deleteRoom(row)
  if (response.code === EnumApiErrorCode.success) {
    messageNotification(t('message.success'), EnumMessageType.Success);
    getTableData();
  } else {
    messageNotification(response.message, EnumMessageType.Error);
  }
};
const handleCurrentChange = (val: number) => {
  state.tableData.page.page = val;
  getTableData();
}
const handleSizeChange = (val: number) => {
  state.tableData.page.pageSize = val;
  getTableData();
}
const onSystem = (key: string, row: object) => {
  if (key === 'edit') {
    onOpenEditDialog(key, row);
  } else {
    deleteRow(row)
  }
};
onMounted(() => {
  getTableData();
});
</script>