<template>
  <div class="system-user-dialog-container">
    <el-dialog @close="resetFields" destroy-on-close v-model="state.dialog.isShowDialog" :title="state.dialog.title">
      <el-form :label-position="'top'" ref="ruleFormRef" :model="state.form" :rules="menuItemRules"
        class="grid md:grid-cols-2 grid-cols-1 gap-5">
        <el-form-item prop="name" :label="$t('message.name')">
          <el-input type="text" v-model="state.form.name" />
        </el-form-item>
        <el-form-item prop="key" :label="$t('message.key')">
          <el-input type="text" v-model="state.form.key" />
        </el-form-item>
        <el-form-item prop="sort" :label="$t('message.sort')">
          <el-input type="number" v-model="state.form.sort" />
        </el-form-item>
        <el-form-item prop="is_visible" :label="$t('message.is_visible')">
          <el-switch v-model="state.form.is_visible" :active-action-icon="View" :inactive-action-icon="Hide" />
        </el-form-item>
        <el-form-item>
          <uploadBase ref="renderFunc" />
        </el-form-item>
      </el-form>
      <template #footer>
        <div class="dialog-footer">
          <el-button type="primary" @click="onSubmit(ruleFormRef)" :loading="isProcessing">
            {{ $t(state.dialog.submit) }}
          </el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script setup lang="ts">
import { reactive, defineAsyncComponent, nextTick } from "vue";
import { useI18n } from "vue-i18n";
import formHelper, { IRule } from "/@/libraries/elementUiHelpers/formHelper";
import useVariable from "/@/composables/useVariables";
import useApi from "/@/api/api";
import EnumMessageType from "/@/models/enums/enumMessageType";
import { messageNotification } from "/@/libraries/elementUiHelpers/notificationHelper";
import EnumApiErrorCode from "/@/models/enums/enumApiErrorCode";
import { IMenu } from "/@/models/IMenu";

const uploadBase = defineAsyncComponent(() => import('/@/components/uploadFile/uploadBase.vue'));
const {
  isProcessing,
  ruleFormRef,
  renderFunc,
  Hide, View,
  api,
} = useVariable();
const { t } = useI18n();
const state = reactive({
  form: {
    id: null,
    name: '',
    key: '',
    sort: 0,
    is_visible: true,
  },
  dialog: {
    title: '',
    submit: '',
    cancel: '',
    isShowDialog: false,
    type: '',
  }
});

const emit = defineEmits(['refresh']);
const resetFields = () => {
  state.form = {
    id: null,
    name: '',
    key: '',
    sort: 0,
    is_visible: true,
  }
}
const rules: Record<string, IRule> = ({
  name: { required: true },
  category_id: { required: true },
  link: { required: true },
  sort: { required: true },
});
const openDialog = async (type: string, row: IMenu) => {
  if (type === 'edit') {
    Object.assign(state.form, row);
    state.dialog.title = t('message.table.edit');
    state.dialog.submit = t('message.table.submit');
  } else {
    state.dialog.title = t('message.table.add');
    state.dialog.submit = t('message.table.submit');
  }
  state.dialog.type = type;
  state.dialog.isShowDialog = true;
};
const submitProcess = async () => {
  // isProcessing.value = true;
  let file = null;
  await new Promise<void>(resolve => {
    resolve(file = renderFunc.value.renderFile().then((value: string) => file = value));
  });
  try {
    const request = {
      id: state.form.id,
      name: state.form.name,
      key: state.form.key,
      is_visible: state.form.is_visible,
      sort: state.form.sort,
      image: file ?? '',
    };
    const response = await api.addOrUpdateCategory(request);
    if (response.code !== EnumApiErrorCode.success) {
      messageNotification(t(response.message), EnumMessageType.Error);
    } else {
      messageNotification(t('message.success'), EnumMessageType.Success);
      resetFields();
      state.dialog.isShowDialog = false;
      emit('refresh');
    }
  } catch (e) {
    //TODO handle the exception
  }
  isProcessing.value = false;
};
const menuItemRules = formHelper.getRules(rules);
const onSubmit = formHelper.getSubmitFunction(submitProcess);
defineExpose({
  openDialog,
});
</script>