<template>
  <div class="system-user-dialog-container">
    <el-dialog @close="resetFields" destroy-on-close v-model="state.dialog.isShowDialog" :title="state.dialog.title">
      <el-form :label-position="'top'" ref="ruleFormRef" :model="state.form" :rules="formRules"
        class="grid md:grid-cols-2 grid-cols-1 gap-5">
        <el-form-item prop="name" :label="$t('message.name')">
          <el-input type="text" v-model="state.form.name" />
        </el-form-item>
        <el-form-item prop="branch" :label="$t('message.branch')">
          <el-input type="text" v-model="state.form.branch"/>
        </el-form-item>
        <el-form-item prop="sort" :label="$t('message.sort')">
          <el-input type="number" v-model="state.form.sort" />
        </el-form-item>
        <el-form-item prop="is_visible" :label="$t('message.is_visible')">
          <el-switch v-model="state.form.is_visible" :active-action-icon="View" :inactive-action-icon="Hide" />
        </el-form-item>
        <el-form-item>
          <uploadBase ref="renderFunc" :file-list="fileList" v-model:get-file-str="state.form.image"/>
        </el-form-item>
      </el-form>
      <template #footer>
        <div class="dialog-footer">
          <el-button type="primary" @click="onSubmit(ruleFormRef)" :loading="isLoading">
            {{ $t(state.dialog.submit) }}
          </el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script setup lang="ts">
import { reactive, defineAsyncComponent, watch } from "vue";
import { useI18n } from "vue-i18n";
import formHelper, { IRule } from "/@/libraries/elementUiHelpers/formHelper";
import useVariable from "/@/composables/useVariables";
import EnumMessageType from "/@/models/enums/enumMessageType";
import { messageNotification } from "/@/libraries/elementUiHelpers/notificationHelper";
import EnumApiErrorCode from "/@/models/enums/enumApiErrorCode";
import { IMenu } from "/@/models/IMenu";

const uploadBase = defineAsyncComponent(() => import('/@/components/uploadFile/uploadBase.vue'));
const {
  isLoading,
  ruleFormRef,
  renderFunc,
  Hide, View,
  api, fileList,
} = useVariable();
const { t } = useI18n();
const state = reactive({
  form: {
    id: null,
    name: '',
    branch: '',
    image: '',
    sort: 0,
    is_visible: true,
  },
  dialog: {
    title: '',
    submit: '',
    cancel: '',
    isShowDialog: false,
    type: '',
  }
});

const emit = defineEmits(['refresh']);
const resetFields = () => {
  state.form = {
    id: null,
    name: '',
    branch: '',
    image: '',
    sort: 0,
    is_visible: true,
  };
  renderFunc.value.file = '';
}
const rules: Record<string, IRule> = ({
  name: { required: true },
  branch: { required: true },
  sort: { required: true },
});
const openDialog = async (type: string, row: object) => {
  fileList.value = []
  if (type === 'edit') {
    fileList.value.push({ name: row.name, url: row.image });
    Object.assign(state.form, row);
    state.dialog.title = t('message.table.edit');
    state.dialog.submit = t('message.table.submit');
  } else {
    state.dialog.title = t('message.table.add');
    state.dialog.submit = t('message.table.submit');
  }
  state.dialog.type = type;
  state.dialog.isShowDialog = true;
};
const submitProcess = async () => {
  isLoading.value = true;
  try {
    const request = {
      id: state.form.id,
      name: state.form.name,
      branch: state.form.branch,
      is_visible: state.form.is_visible,
      sort: state.form.sort,
      image: state.form.image,
    };
    const response = await api.saveUpdateBranch(request);
    if (response.code !== EnumApiErrorCode.success) {
      messageNotification(t(response.message), EnumMessageType.Error);
    } else {
      messageNotification(t('message.success'), EnumMessageType.Success);
      resetFields();
      state.dialog.isShowDialog = false;
      emit('refresh');
    }
  } catch (e) {
    //TODO handle the exception
  }
  isLoading.value = false;
};
const formRules = formHelper.getRules(rules);
const onSubmit = formHelper.getSubmitFunction(submitProcess);
// watch(() => state.form.name, (value) => {
//   const strVal = value.replace(' ', '_')
//   state.form.branch = strVal.toLowerCase();
// })

defineExpose({
  openDialog,
});
</script>