<template>
	<div class="layout-container layout-padding">
		<el-card shadow="hover" class="layout-padding-auto">
			<div class="p-3 flex justify-between">
				<div class="text-xl font-bold">
					Branches
				</div>
				<el-button type="success" @click="onOpenAddDialog('add')">
					{{ $t('message.table.new') }}
				</el-button>
			</div>
			<div class="mt20 lazy-img-container">
				<div class="flex-warp-branch" v-if="state.tableData.data.length > 0">
					<el-row :gutter="15">
						<el-col :xs="24" :sm="12" :md="8" :lg="6" :xl="4" class="mb15"
							v-for="(v, k) in state.tableData.data" :key="k">
							<div class="flex-warp-item cursor-pointer">
								<div class="flex-warp-item-box">
									<div class="item-img" @click="onTableItemClick(v)">
										<img :src="v.image" :data-key="k" :data-lazy-img-list="k" v-loading="state.tableData.loading"/>
									</div>
									<div class="item-txt">
										<div class="item-txt-title">{{ v.name }}</div>
										<div class="item-txt-other">
											<div style="width: 100%">
												<div class="item-txt-msg mb10 flex justify-between">
													<span> {{ v.branch }}</span>
													<div class="flex gap-3 text-base">
														<span class="fa fa-pencil warning" @click="onSystem('edit', v)" />
														<span class="fa fa-trash danger" @click="onSystem('delete', v)" />
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</el-col>
					</el-row>
				</div>
				<el-empty v-else description="暂无数据"></el-empty>
				<template v-if="state.tableData.data.length > 0">
					<el-pagination style="text-align: right" background @size-change="onHandleSizeChange"
						@current-change="onHandleCurrentChange" :page-sizes="[10, 20, 30]"
						v-model:current-page="state.tableData.param.page"
						:small="true"
						v-model:page-size="state.tableData.param.pageSize" layout="total, sizes, prev, pager, next, jumper"
						:total="state.tableData.total">
					</el-pagination>
				</template>
			</div>
			<hotelDialog ref="openDialogRef" @refresh="getTableData()" />
		</el-card>
	</div>
</template>
<script setup lang="ts">
import { defineAsyncComponent, reactive, onMounted } from "vue";
import { useRouter } from 'vue-router';
import { Branch, IBranch } from '/@/models/IBranch';
import useVariable from "/@/composables/useVariables";
import EnumApiErrorCode from "/@/models/enums/enumApiErrorCode";
import messageBoxHelper from "/@/libraries/elementUiHelpers/messageBoxHelper";
import EnumMessageType from "/@/models/enums/enumMessageType";
import { messageNotification } from "/@/libraries/elementUiHelpers/notificationHelper";

const hotelDialog = defineAsyncComponent(() => import('/@/pages/hotel/branch/dialog.vue'));
const router = useRouter();
const state = reactive({
	tableData: {
		data: <IBranch[]>[],
		total: 0,
		loading: false,
		param: {
			page: 1,
			pageSize: 10,
		},
	},
});
const { t, api, onOpenAddDialog, onOpenEditDialog, openDialogRef } = useVariable();
const getTableData = async () => {
	state.tableData.loading = true;
	const response = await api.getBranch(state.tableData.param);
	if (response.code !== EnumApiErrorCode.success) {
		console.log(response);
	} else {
		state.tableData.data = response.data?.data.map((item: IBranch) => new Branch(item));
		state.tableData.total = response.data?.total;
	}
	state.tableData.loading = false;
};
const onTableItemClick = (v: IBranch) => {
	router.push({
		path: '/hotel/room',
		query: { id: v.id },
	});
};
const onHandleSizeChange = (val: number) => {
	state.tableData.param.pageSize = val;
	getTableData();
};
const onHandleCurrentChange = (val: number) => {
	state.tableData.param.page = val;
	getTableData();
};
const deleteRow = (row: object) => {
	messageBoxHelper.confirmDelete(EnumMessageType.Warning, t('message.areYouSure', t('message.yes'))).then(async () => {
		const response = await api.deleteBranch(row)
		if (response.code === EnumApiErrorCode.success) {
			messageNotification(t('message.success'), EnumMessageType.Success);
			getTableData();
		} else {
			messageNotification(response.message, EnumMessageType.Error);
		}
	});
};
const onSystem = (key: string, row: object) => {
	if (key === 'edit') {
		onOpenEditDialog(key, row);
	} else {
		deleteRow(row)
	}
};
onMounted(() => {
	getTableData();
});
</script>
<style scoped lang="scss">
.lazy-img-container {
	.flex-warp-branch {
		// display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		margin: 0 -5px;

		.flex-warp-item {
			padding: 5px;
			width: 100%;
			height: 240px;

			.flex-warp-item-box {
				border: 1px solid var(--next-border-color-light);
				width: 100%;
				height: 100%;
				border-radius: 2px;
				display: flex;
				flex-direction: column;
				transition: all 0.3s ease;

				&:hover {
					cursor: pointer;
					border: 1px solid var(--el-color-primary);
					transition: all 0.3s ease;
					box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.03);

					.item-txt-title {
						color: var(--el-color-primary) !important;
						transition: all 0.3s ease;
					}

					.item-img {
						img {
							transition: all 0.3s ease;
							transform: translateZ(0) scale(1.05);
						}
					}
				}

				.item-img {
					width: 100%;
					height: 150px;
					overflow: hidden;

					img {
						transition: all 0.3s ease;
						width: 100%;
						height: 100%;
					}
				}

				.item-txt {
					flex: 1;
					padding: 15px;
					display: flex;
					flex-direction: column;
					overflow: hidden;

					.item-txt-title {
						text-overflow: ellipsis;
						overflow: hidden;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						display: -webkit-box;
						color: #666666;
						transition: all 0.3s ease;

						&:hover {
							color: var(--el-color-primary);
							text-decoration: underline;
							transition: all 0.3s ease;
						}
					}

					.item-txt-other {
						flex: 1;
						align-items: flex-end;
						display: flex;

						.item-txt-msg {
							font-size: 12px;
							color: #8d8d91;
						}

						.item-txt-price {
							display: flex;
							justify-content: space-between;
							align-items: center;

							.font-price {
								color: #ff5000;

								.font {
									font-size: 22px;
								}
							}
						}
					}
				}
			}
		}
	}
}
.layout-container .el-card__body .lazy-img-container{
  display: flex;
  flex-direction: column;
  flex: 1;
//   overflow: auto;
}

.layout-container .el-card__body .lazy-img-container .flex-warp-branch {
  flex: 1;
}
</style>